.DS_Store
/src/cfxgb/logs
/src/cfxgb/.DS_Store
/src/cfxgb/__pycache__
/src/cfxgb/lib/.DS_Store
/src/cfxgb/lib/*.pyc
/src/cfxgb/lib/__pycache__
/src/cfxgb/lib/utils/*.pyc
/src/cfxgb/lib/utils/__pycache__
/src/cfxgb/lib/estimators/*.pyc
/src/cfxgb/lib/estimators/__pycache__
/src/cfxgb/lib/estimators/*.pyc
/src/cfxgb/lib/cascade/__pycache__
/src/cfxgb/lib/cascade/*.pyc
/src/cfxgb/Datasets/*.csv
/src/cfxgb.egg-info
